/* line 6, ../sass/styles.scss */
#title {
  padding: 10px;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}

/* line 13, ../sass/styles.scss */
#main {
  text-align: center;
}

/* line 18, ../sass/styles.scss */
#login {
  position: absolute;
  top: 20px;
  right: 30px;
}

/* line 25, ../sass/styles.scss */
* {
  box-sizing: border-box;
  font-family: "Josefin Slab", sans-serif;
}

/* line 30, ../sass/styles.scss */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* line 34, ../sass/styles.scss */
.col-1 {
  width: 8.33%;
}

/* line 35, ../sass/styles.scss */
.col-2 {
  width: 16.66%;
}

/* line 36, ../sass/styles.scss */
.col-3 {
  width: 25%;
}

/* line 37, ../sass/styles.scss */
.col-4 {
  width: 33.33%;
}

/* line 38, ../sass/styles.scss */
.col-5 {
  width: 41.66%;
}

/* line 39, ../sass/styles.scss */
.col-6 {
  width: 50%;
}

/* line 40, ../sass/styles.scss */
.col-7 {
  width: 58.33%;
}

/* line 41, ../sass/styles.scss */
.col-8 {
  width: 66.66%;
}

/* line 42, ../sass/styles.scss */
.col-9 {
  width: 75%;
}

/* line 43, ../sass/styles.scss */
.col-10 {
  width: 83.33%;
}

/* line 44, ../sass/styles.scss */
.col-11 {
  width: 91.66%;
}

/* line 45, ../sass/styles.scss */
.col-12 {
  width: 100%;
}

/* line 47, ../sass/styles.scss */
.login_message {
  width: 100%;
  height: 30px;
}

/* line 48, ../sass/styles.scss */
.password_message {
  width: 100%;
  height: 30px;
}

/* line 50, ../sass/styles.scss */
body {
  font-family: "Josefin Slab", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

/* line 56, ../sass/styles.scss */
h1 {
  font-size: 100px;
}

/* line 60, ../sass/styles.scss */
h2 {
  font-size: 60px;
}

/* line 64, ../sass/styles.scss */
h4 {
  font-size: 30px;
  text-align: right;
}

/* line 69, ../sass/styles.scss */
input[type=text] {
  border: 1px solid #333;
  outline: none;
  transition: 0.5s;
}

/* line 75, ../sass/styles.scss */
input[type=text]:focus {
  border: 1px solid #000;
}

/* line 79, ../sass/styles.scss */
input[type=range] {
  -webkit-appearance: none;
  wdith: 100%;
}

/* line 84, ../sass/styles.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 90, ../sass/styles.scss */
meter {
  width: 260px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 11px 0px 11px 80px;
}

/* line 97, ../sass/styles.scss */
meter::-webkit-meter-bar {
  background: none;
  background-color: whiteSmoke;
}

/* line 102, ../sass/styles.scss */
meter::-webkit-meter-optimum-value {
  background: #ccc;
}

/* line 106, ../sass/styles.scss */
a {
  color: #808080;
}
/* line 108, ../sass/styles.scss */
a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 112, ../sass/styles.scss */
a:visited {
  text-decoration: none;
}
/* line 115, ../sass/styles.scss */
a:active {
  text-decoration: none;
}

/* line 120, ../sass/styles.scss */
.search .search_message {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* line 129, ../sass/styles.scss */
.search .search_submit {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 2rem auto;
  transition: background-color 0.5s;
}
/* line 137, ../sass/styles.scss */
.search .search_submit:hover {
  background: #000;
  color: #fff;
}

/* line 143, ../sass/styles.scss */
.login .login_submit {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 1rem auto;
  transition: background-color 0.5s;
}
/* line 151, ../sass/styles.scss */
.login .login_submit:hover {
  background: #000;
  color: #fff;
}

/* line 158, ../sass/styles.scss */
.find {
  font-size: 30px;
  margin: 10px 0px 10px 130px;
  text-align: center;
}

/* line 164, ../sass/styles.scss */
.check_in {
  font-size: 30px;
  margin: 50px 0px 0px 10px;
  text-align: center;
}

/* line 170, ../sass/styles.scss */
.map {
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}

/* line 175, ../sass/styles.scss */
.actionlist {
  text-align: left;
  margin: 50px 0px 10px 0px;
}
