/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 152, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 173, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 193, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 203, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 212, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 221, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 236, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 242, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 248, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 254, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 260, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 272, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 283, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 293, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 301, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 313, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 325, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 346, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 354, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 366, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 381, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 394, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 406, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 415, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 424, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 432, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 456, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 470, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 488, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 499, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 514, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 529, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 538, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 549, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 564, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 581, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 602, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 667, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 6, ../sass/styles.scss */
#title {
  padding: 10px;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}

/* line 13, ../sass/styles.scss */
#main {
  text-align: center;
}

/* line 18, ../sass/styles.scss */
#login {
  position: absolute;
  top: 20px;
  right: 30px;
}

/* line 25, ../sass/styles.scss */
* {
  box-sizing: border-box;
  font-family: "Josefin Slab", sans-serif;
}

/* line 30, ../sass/styles.scss */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* line 34, ../sass/styles.scss */
.col-1 {
  width: 8.33%;
}

/* line 35, ../sass/styles.scss */
.col-2 {
  width: 16.66%;
}

/* line 36, ../sass/styles.scss */
.col-3 {
  width: 25%;
}

/* line 37, ../sass/styles.scss */
.col-4 {
  width: 33.33%;
}

/* line 38, ../sass/styles.scss */
.col-5 {
  width: 41.66%;
}

/* line 39, ../sass/styles.scss */
.col-6 {
  width: 50%;
}

/* line 40, ../sass/styles.scss */
.col-7 {
  width: 58.33%;
}

/* line 41, ../sass/styles.scss */
.col-8 {
  width: 66.66%;
}

/* line 42, ../sass/styles.scss */
.col-9 {
  width: 75%;
}

/* line 43, ../sass/styles.scss */
.col-10 {
  width: 83.33%;
}

/* line 44, ../sass/styles.scss */
.col-11 {
  width: 91.66%;
}

/* line 45, ../sass/styles.scss */
.col-12 {
  width: 100%;
}

/* line 47, ../sass/styles.scss */
.login_message {
  width: 100%;
  height: 30px;
}

/* line 48, ../sass/styles.scss */
.password_message {
  width: 100%;
  height: 30px;
}

/* line 50, ../sass/styles.scss */
body {
  font-family: "Josefin Slab", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

/* line 56, ../sass/styles.scss */
h1 {
  font-size: 100px;
}

/* line 60, ../sass/styles.scss */
h2 {
  font-size: 60px;
}

/* line 64, ../sass/styles.scss */
h4 {
  font-size: 30px;
  text-align: right;
}

/* line 69, ../sass/styles.scss */
input[type=text] {
  border: 1px solid #333;
  outline: none;
  transition: 0.5s;
}

/* line 75, ../sass/styles.scss */
input[type=text]:focus {
  border: 1px solid #000;
}

/* line 78, ../sass/styles.scss */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 80%;
}

/* line 88, ../sass/styles.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

/* line 95, ../sass/styles.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0066CC;
  margin-top: -4px;
}

/* line 104, ../sass/styles.scss */
input[type=range]:focus {
  outline: none;
}

/* line 107, ../sass/styles.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* line 111, ../sass/styles.scss */
input[type=range]::-moz-range-track {
  width: 80%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

/* line 118, ../sass/styles.scss */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
/* line 127, ../sass/styles.scss */
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

/* line 132, ../sass/styles.scss */
input[type=range]::-ms-track {
  width: 80%;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

/* line 146, ../sass/styles.scss */
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

/* line 150, ../sass/styles.scss */
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

/* line 154, ../sass/styles.scss */
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/* line 161, ../sass/styles.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

/* line 164, ../sass/styles.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

/* line 167, ../sass/styles.scss */
meter {
  width: 260px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 11px 0px 11px 80px;
}

/* line 174, ../sass/styles.scss */
meter::-webkit-meter-bar {
  background: none;
  background-color: whiteSmoke;
}

/* line 179, ../sass/styles.scss */
meter::-webkit-meter-optimum-value {
  background: #ccc;
}

/* line 183, ../sass/styles.scss */
a {
  color: #808080;
}
/* line 185, ../sass/styles.scss */
a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 189, ../sass/styles.scss */
a:visited {
  text-decoration: none;
}
/* line 192, ../sass/styles.scss */
a:active {
  text-decoration: none;
}

/* line 197, ../sass/styles.scss */
.search .search_message {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* line 206, ../sass/styles.scss */
.search .search_submit {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 2rem auto;
  transition: background-color 0.5s;
}
/* line 214, ../sass/styles.scss */
.search .search_submit:hover {
  background: #000;
  color: #fff;
}

/* line 220, ../sass/styles.scss */
.login .login_submit {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 1rem auto;
  transition: background-color 0.5s;
}
/* line 228, ../sass/styles.scss */
.login .login_submit:hover {
  background: #000;
  color: #fff;
}

/* line 235, ../sass/styles.scss */
.find {
  font-size: 30px;
  margin: 10px 0px 10px 130px;
  text-align: center;
}

/* line 241, ../sass/styles.scss */
.check_in {
  font-size: 35px;
  width: 80%;
  padding-top: 50px;
  text-align: center;
}

/* line 248, ../sass/styles.scss */
.map {
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}

/* line 253, ../sass/styles.scss */
.actionlist {
  text-align: left;
  margin: 50px 0px 20px 0px;
  font-size: 40px;
}

/* line 259, ../sass/styles.scss */
.actionset {
  padding-left: 100px;
}
