/* line 6, ../sass/styles.scss */
#title {
  padding: 10px;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}

/* line 13, ../sass/styles.scss */
#main {
  text-align: center;
}

/* line 18, ../sass/styles.scss */
#login {
  position: absolute;
  top: 20px;
  right: 30px;
  outline: 2px groove black;
}

/* line 26, ../sass/styles.scss */
* {
  box-sizing: border-box;
  font-family: "Josefin Slab", sans-serif;
}

/* line 31, ../sass/styles.scss */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* line 35, ../sass/styles.scss */
.col-1 {
  width: 8.33%;
}

/* line 36, ../sass/styles.scss */
.col-2 {
  width: 16.66%;
}

/* line 37, ../sass/styles.scss */
.col-3 {
  width: 25%;
}

/* line 38, ../sass/styles.scss */
.col-4 {
  width: 33.33%;
}

/* line 39, ../sass/styles.scss */
.col-5 {
  width: 41.66%;
}

/* line 40, ../sass/styles.scss */
.col-6 {
  width: 50%;
}

/* line 41, ../sass/styles.scss */
.col-7 {
  width: 58.33%;
}

/* line 42, ../sass/styles.scss */
.col-8 {
  width: 66.66%;
}

/* line 43, ../sass/styles.scss */
.col-9 {
  width: 75%;
}

/* line 44, ../sass/styles.scss */
.col-10 {
  width: 83.33%;
}

/* line 45, ../sass/styles.scss */
.col-11 {
  width: 91.66%;
}

/* line 46, ../sass/styles.scss */
.col-12 {
  width: 100%;
}

/* line 48, ../sass/styles.scss */
.login_message {
  width: 100%;
}

/* line 49, ../sass/styles.scss */
.password_message {
  width: 100%;
}

/* line 51, ../sass/styles.scss */
body {
  font-family: "Josefin Slab", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

/* line 57, ../sass/styles.scss */
h1 {
  font-size: 100px;
}

/* line 61, ../sass/styles.scss */
h2 {
  font-size: 60px;
}

/* line 65, ../sass/styles.scss */
h4 {
  font-size: 30px;
  text-align: right;
}

/* line 70, ../sass/styles.scss */
input[type=text] {
  border: 1px solid #333;
  outline: none;
  transition: 0.5s;
}

/* line 76, ../sass/styles.scss */
input[type=text]:focus {
  border: 1px solid #000;
}

/* line 80, ../sass/styles.scss */
input[type=range] {
  -webkit-appearance: none;
  wdith: 100%;
}

/* line 85, ../sass/styles.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 89, ../sass/styles.scss */
input[type=range]:focus {
  outline: none;
}

/* line 93, ../sass/styles.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
/* line 102, ../sass/styles.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -12px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
/* line 115, ../sass/styles.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
/* line 126, ../sass/styles.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* line 135, ../sass/styles.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #808080;
  border-radius: 0.5px;
  border: 0.2px solid #010101;
}

/* line 145, ../sass/styles.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}

/* line 149, ../sass/styles.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #808080;
  border-radius: 0.5px;
  border: 0.2px solid #010101;
}

/* line 159, ../sass/styles.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1px 0;
  color: transparent;
}

/* line 168, ../sass/styles.scss */
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 174, ../sass/styles.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #808080;
}

/* line 177, ../sass/styles.scss */
input[type=range]::-ms-fill-upper {
  background: #808080;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 183, ../sass/styles.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #808080;
}

/* line 186, ../sass/styles.scss */
meter {
  width: 260px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 11px 0px 11px 80px;
}

/* line 193, ../sass/styles.scss */
meter::-webkit-meter-bar {
  background: none;
  background-color: whiteSmoke;
}

/* line 198, ../sass/styles.scss */
meter::-webkit-meter-optimum-value {
  background: #ccc;
}

/* line 202, ../sass/styles.scss */
a {
  color: #808080;
}
/* line 204, ../sass/styles.scss */
a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 208, ../sass/styles.scss */
a:visited {
  text-decoration: none;
}
/* line 211, ../sass/styles.scss */
a:active {
  text-decoration: none;
}

/* line 216, ../sass/styles.scss */
.search .search_message {
  font-size: 20px;
  width: 15%;
  text-align: left;
  margin: 0 auto;
  display: block;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* line 225, ../sass/styles.scss */
.search .search_submit {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 2rem auto;
  transition: background-color 0.5s;
}
/* line 233, ../sass/styles.scss */
.search .search_submit:hover {
  background: #000;
  color: #fff;
}

/* line 239, ../sass/styles.scss */
.login .login_submit {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 2rem auto;
  transition: background-color 0.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* line 247, ../sass/styles.scss */
.login .login_submit:hover {
  background: #000;
  color: #fff;
}

/* line 255, ../sass/styles.scss */
.find {
  font-size: 30px;
  margin: 10px 0px 10px 130px;
  text-align: center;
}

/* line 261, ../sass/styles.scss */
.check_in {
  font-size: 40px;
  margin: 80px 0px 0px 10px;
  text-align: center;
}

/* line 267, ../sass/styles.scss */
.map {
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}

/* line 272, ../sass/styles.scss */
.actionlist {
  text-align: left;
  margin: 80px 0px 10px 0px;
  font-size: 50px;
}
