@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "compass/css3";

#title {
    padding: 10px;
    color: #000000;  
    text-align: center; 
    padding-top: 50px; 
}

#main {
    text-align: center;

}

#login{
    position: absolute;
    top: 20px;
    right: 30px;
    outline: 2px groove black;
}


*{
    box-sizing: border-box; 
    font-family: "Josefin Slab", sans-serif; 
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.login_message {width:100%;}
.password_message {width:100%;}

body {
    font-family: "Josefin Slab", sans-serif; 
    max-width: 100%;
    max-height: 100%; 
}

h1 {
    font-size: 100px; 
}

h2 {
    font-size: 60px;
}

h4 {
    font-size: 30px;
    text-align: right;
}

input[type=text] {
    border: 1px solid #333;
    outline: none; 
    transition: 0.5s;
}

input[type=text]:focus {
    border: 1px solid #000;
}

input[type=range] {
    -webkit-appearance: none;
    wdith: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #808080;
  border-radius: 0.5px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #808080;
  border-radius: 0.5px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #808080;
}
input[type=range]::-ms-fill-upper {
  background: #808080;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #808080;
}
meter {
    width: 260px;
    height: 20px;
    border: 1px solid #ccc; 
    margin: 11px 0px 11px 80px;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: whiteSmoke;
}

meter::-webkit-meter-optimum-value {
    background: #ccc; 
}

a {
    color: #808080;
    &:hover {
        color: #000000;
        text-decoration: none; 
    }
    &:visited {
        text-decoration: none; 
    }
    &:active {
        text-decoration: none; 
    }
}

.search .search_message {
    font-size: 20px;
    width: 15%;
    text-align: left;
    margin: 0 auto;
    display: block;
    padding: 1rem 1rem 0.5rem 1rem; 
}

.search .search_submit {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    display: block;
    font-size: 20px; 
    margin: 2rem auto;
    transition: background-color 0.5s;
    &:hover {
        background: #000;
        color: #fff; 
    }  
}

.login .login_submit {
    background: #fff;
    border: 2px solid #000;
    color: #000;
    display: block;
    font-size: 20px; 
    margin: 2rem auto;
    transition: background-color 0.5s;
    &:hover {
        background: #000;
        color: #fff; 
    }
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.find {
    font-size: 30px; 
    margin: 10px 0px 10px 130px; 
    text-align: center;  
}

.check_in {
    font-size: 40px;
    margin: 80px 0px 0px 10px; 
    text-align: center; 
}

.map {
    margin: 0px 0px 0px 0px;
    padding-right: 0px;
}

.actionlist {
    text-align: left;
    margin: 80px 0px 10px 0px;
    font-size: 50px; 
}

